# This kickstart file requires network access to an installation server. Once
# the media is booted, highlight the install option and press [tab]. Append the
# following to the boot line:
#
# inst.ks=https://raw.githubusercontent.com/dmbrownlee/centiso/master/files/udoo/netinst/swg-ks.cfg

#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512

# Installation source
url --url http://repo.example.com/centos/7/os/x86_64
reboot

# Use text install
text
# Setup Agent not needed when using configuration management
firstboot --disable
ignoredisk --only-use=mmcblk0
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Misc. config
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/

# Network information
network  --bootproto=dhcp --device=bootif --ipv6=auto --activate

# Root password (only used for first login which forces password change)
rootpw --plaintext password
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=mmcblk0
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=mmcblk0

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@x11
chrony
kexec-tools
man-pages
bash-completion
vim
git
epel-release
ansible
%end

%post
chage -d 0 root
mkdir /etc/ansible
echo '[defaults]' > /etc/ansible/ansible.cfg
echo 'host_key_checking = False' >> /etc/ansible/ansible.cfg
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
