#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$K.oMQZzYOvQMLNOZ$Bilo5sD23juM.o2SWCq4s42/6tzDPxmie3Cw.4pmyqBORYWFLK0XDWOHK9/o9QyNJJmEDBZspcHnkJt4tSf78.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^virtualization-host-environment
@base
@core
@virtualization-hypervisor
@virtualization-tools
chrony
kexec-tools
git
epel-release
%end

%post
chage -d 0 root
yum update
yum install -y ansible
mkdir /etc/ansible
echo '[defaults]' > /etc/ansible/ansible.cfg
echo 'host_key_checking = False' >> /etc/ansible/ansible.cfg
# fetch ansible playbook and run it to configure the host
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
